<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% if (users) { %>
            <% users.forEach(user => { %>
                <li>
                    ID: <%= user.id %> Username: <%= user.firstName %> <%= user.lastName %>
                    <button><a href="<%= user.id %>/update">Update</a></button>
                    <form action="<%= user.id %>/delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                    
                </li>
            <% }) %> 
        <% } %>
    </ul>
    <a href="/create">Create User</a>
</body>
</html>